@import 'tailwindcss';
@import 'pretendard/dist/web/variable/pretendardvariable.css';

@theme {
  --font-sans: 'Pretendard', system-ui, sans-serif;

  /* ================================
     Palette
     ================================ */

  /* Primary */
  --color-p1: #ffd33d;
  --color-p2: #ffda5e;
  --color-p3: #ffe078;
  --color-p4: #ffe58d;
  --color-p5: #ffeba9;
  --color-p6: #fff2c6;
  --color-p7: #fff8de;
  --color-p8: #fffcf0;

  /* Secondary */
  --color-s1: #2a5fff;
  --color-s2: #527eff;
  --color-s3: #698fff;
  --color-s4: #8ca9ff;
  --color-s5: #aac4f5;
  --color-s6: #c9d9f6;
  --color-s7: #e5eefe;
  --color-s8: #f5f9ff;

  /* Gray scale */
  --color-g1: #1c1c1c;
  --color-g2: #2d2d2d;
  --color-g3: #404040;
  --color-g4: #555555;
  --color-g5: #7f7f7f;
  --color-g6: #a8a8a8;
  --color-g7: #d2d2d2;
  --color-g8: #e2e2e2;
  --color-g9: #f1f1f1;
  --color-g10: #fafaf8;
  --color-g11: #ffffff;

  /* Background */

  /* Error */
  --color-er1: #f02326;
  --color-er2: #ff5053;

  /* ================================
     Semantic
     ================================ */
  --color-bg: #f6f2e8; /* 변수명 지정 필요 */
  --color-bg-subtle: var(--color-g11);
  --color-bg-surface: var(--color-g11);
  --color-text: var(--color-g1);
  --color-text-muted: var(--color-g6);
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }
  button:disabled {
    cursor: not-allowed;
  }
}
